/**
 * Highlight syntax for code
 **/
.highlight  {
    background: #ffffff;

    .c { color: #999988; } /* Comment */
    .err { color: #a61717; background-color: #e3d2d2; } /* Error */
    .k { color: #e96900; } /* Keyword */
    .o { } /* Operator */
    .cm { color: #999988; } /* Comment.Multiline */
    .cp { color: #999999; } /* Comment.Preproc */
    .c1 { color: #999988; } /* Comment.Single */
    .cs { color: #999999; } /* Comment.Special */
    .gd { color: #000000; background-color: #ffdddd; } /* Generic.Deleted */
    .gd .x { color: #000000; background-color: #ffaaaa; } /* Generic.Deleted.Specific */
    .ge { } /* Generic.Emph */
    .gr { color: #aa0000; } /* Generic.Error */
    .gh { color: #999999; } /* Generic.Heading */
    .gi { color: #000000; background-color: #ddffdd; } /* Generic.Inserted */
    .gi .x { color: #000000; background-color: #aaffaa; } /* Generic.Inserted.Specific */
    .go { color: #888888; } /* Generic.Output */
    .gp { color: #555555; } /* Generic.Prompt */
    .gs { } /* Generic.Strong */
    .gu { color: #aaaaaa; } /* Generic.Subheading */
    .gt { color: #aa0000; } /* Generic.Traceback */
    .kc {  } /* Keyword.Constant */
    .kd { color: #0092db; } /* Keyword.Declaration */
    .kp {  } /* Keyword.Pseudo */
    .kr {  } /* Keyword.Reserved */
    .kt { color: #445588; } /* Keyword.Type */
    .m { color: #42b983; } /* Literal.Number */
    .s { color: #d14; } /* Literal.String */
    .na { color: #008080 } /* Name.Attribute */
    .nb { color: #0092db; } /* Name.Builtin */
    .nc { color: #0092db; } /* Name.Class */
    .no { color: #008080; } /* Name.Constant */
    .ni { color: #800080; } /* Name.Entity */
    .ne { color: #990000; } /* Name.Exception */
    .nf { color: #990000; } /* Name.Function */
    .nn { color: #555555; } /* Name.Namespace */
    .nt { color: #000080; } /* Name.Tag */
    .nv { color: #099999; } /* Name.Variable */
    .ow {  } /* Operator.Word */
    .w { color: #bbbbbb; } /* Text.Whitespace */
    .mf { color: #009999; } /* Literal.Number.Float */
    .mh { color: #009999; } /* Literal.Number.Hex */
    .mi { color: #42b983; } /* Literal.Number.Integer */
    .mo { color: #009999; } /* Literal.Number.Oct */
    .sb { color: #d14; } /* Literal.String.Backtick */
    .sc { color: #d14; } /* Literal.String.Char */
    .sd { color: #d14; } /* Literal.String.Doc */
}
